# Lab 5 : CS 6760

## Introduction to Privacy Engineering, Summer 2021


## Web Scarping with Beautiful Soup

Web scraping is typically defined as a use of a program or algorithm to extract, and process data from the web. In this lab, you will learn:
• How to extract data from the web using Python's Beautiful Soup module,
• How to manipulate and clean data using Python's Pandas library,
• How to visualize data using Python's Matplotlib library.

##### Installation:

Same as Lab 1. <br>No additional packages are required.

##### This lab contains 1 task, listed below.

##### Grading rubric: for each question,
100% of the points - Correct code, correct output<br>
50% of the points - Minor logical error, partial output<br>
0% of the points - No attempt, incomplete code, wrong output

##### Submission instructions

You will have to submit the completed jupyter notebook file (.ipynb) in Canvas. <br> 
Please rename the submission file in the 'FirstName-LastName-Lab5.ipynb'format.

##### Acknowledgement

This lab assignment was modified from the Sicelo Masango's tutorial, "Web Scarping Using Python"
https://www.datacamp.com/community/tutorials/web-scraping-using-python


The datasets used in this tutorial include:
- The 10K race that took place in Hillsboro, OR on June 2017, available: http://www.hubertiming.com/results/2017GPTR10
- The Olympic medal count by country, available here: https://worldpopulationreview.com/country-rankings/olympic-medals-by-country

Importing libraries and functions

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

To perform web scraping, we also need to import the libraries shown below. The urllib.request module is used to open URLs. The Beautiful Soup package is used to extract data from html files. The Beautiful Soup library's name is bs4 which stands for Beautiful Soup, version 4.

In [3]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

After importing the necessary modules, we also need specify the URL containing the dataset, and pass it to urlopen() to get the html of the page:

In [33]:
url = "http://www.hubertiming.com/results/2017GPTR10K"
html = urlopen(url)

Getting the html of the page is just the first step. Next step is to create a Beautiful Soup object from the html. This is done by passing the html to the BeautifulSoup() function. The Beautiful Soup package is used to parse the html, that is, take the raw html text and break it into Python objects. The second argument 'lxml' is the html parser.

In [34]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

The soup object allows us to extract interesting information about the website we're scraping, such as getting the title of the page as shown below.

In [35]:
# Get the title
title = soup.title
print(title)

<title>Race results for the 2017 Intel Great Place to Run \ Urban Clash Games!</title>

We can also get the text of the webpage, and quickly print it out to check if it is what we expect.

In [36]:
# Print out the text
text = soup.get_text()
print(soup.text)

Race results for the 2017 Intel Great Place to Run \ Urban Clash Games!





















 2017 Intel Great Place to Run 10K \ Urban Clash Games
 Hillsboro Stadium, Hillsboro, OR
 June 2nd, 2017








 Email
                        timing@hubertiming.com with results questions. Please include your bib number if you have it.









Huber Timing Home





10K:


Finishers:
577


Male:
414


Female:
163









 5K Individual
 5K Team
 10K Individual
 10K Team
 Summary




Indvidual Results



10K Results



Search:

Search
Division:

Men
Women
Masters Men
Masters Women

F 18-25
F 26-35
F 36-45
F 46-55
F Under 18
M 18-25
M 26-35
M 36-45
M 46-55
M 55+
M Under 18
 Team:

Unattached
COLUMBIA TEAM A
COLUMBIA TEAM B
COLUMBIA TEAM C
COLUMBIA TEAM D
COLUMBIA TEAM E
DTNA1
DTNA2
DTNA3
FXG1
INTEL TEAM A
INTEL TEAM B
INTEL TEAM C
INTEL TEAM D
INTEL TEAM E
INTEL TEAM F
INTEL TEAM G
INTEL TEAM H
INTEL TEAM I
INTEL TEAM J
INTEL TEAM K
INTEL TEAM L
INTEL TEAM M
INTEL TEAM N
 Filter




Place
Bib
Name
Gender
City
State
Chip Time
Chip Pace
Gun Time
Team




1
814


                    JARED WILSON


M
TIGARD
OR
36:21
5:51
36:24



2
573


                    NATHAN A SUSTERSIC


M
PORTLAND
OR
36:42
5:55
36:45


                            INTEL TEAM F



3
687


                    FRANCISCO MAYA


M
PORTLAND
OR
37:44
6:05
37:48



4
623


                    PAUL MORROW


M
BEAVERTON
OR
38:34
6:13
38:37



5
569


                    DEREK G OSBORNE


M
HILLSBORO
OR
39:21
6:20
39:24


                            INTEL TEAM F



6
642


                    JONATHON TRAN


M
PORTLAND
OR
39:49
6:25
39:55



7
144


                    GEORGE TOTONCHY


M
PORTLAND
OR
40:04
6:27
40:17



8
395


                    BENJAMIN C CHAFFIN


M
PORTLAND
OR
40:05
6:27
40:09



9
7


                    BRANDON THOMAS


M


40:17
6:29
40:24


                            COLUMBIA TEAM B



10
3


                    ERIK BJORNSTAD


M


40:21
6:30
40:25


                            COLUMBIA TEAM A



11
68


                    WITALI SPULING


M
PORTLAND
OR
40:28
6:31
40:40


                            DTNA1



12
788


                    ANDY WEDAM


M
PORTLAND
OR
40:36
6:33
40:42


                            DTNA2



13
729


                    MICHAEL P GEORGE


M
PORTLAND
OR
40:43
6:34
40:50



14
151


                    ETHAN JORDAN


M
PORTLAND
OR
41:01
6:37
41:13



15
758


                    FLAVIO GRIGGIO


M
PORTLAND
OR
41:19
6:39
41:24



16
868


                    WILLIAM BARRY


M
BEAVERTON
OR
41:43
6:43
41:49


                            INTEL TEAM K



17
2


                    JIM DROZDOWSKI


M


41:59
6:46
42:02


                            COLUMBIA TEAM A



18
362


                    BRITON BARKER


M
HILLSBORO
OR
42:23
6:50
42:28



19
755


                    NEILANJAN DUTTA


M
HILLSBORO
OR
42:29
6:51
42:34



20
543


                    KENNETH KLOTZ


M
EUGENE
OR
42:35
6:52
42:48



21
401


                    EDDIE J FRIE


M
HILLSBORO
OR
42:36
6:52
42:52


                            INTEL TEAM K



22
155


                    JARED PAGER


M
PORTLAND
OR
42:37
6:52
42:58



23
781


                    DAVID HERRON


M
PORTLAND
OR
42:56
6:55
43:04


                            FXG1



24
468


                    TIMOTHY WESLEY


M
NOT SPECIFIED
OR
43:26
7:00
43:36



25
882


                    MONROE SULLIVAN


M
PORTLAND
OR
43:27
7:00
43:30



26
236


                    VINCENT OLSEN


M
BOISE
ID
43:40
7:02
43:43



27
742


                    LEONARD NEIBERG


M
PORTLAND
OR
43:42
7:02
44:01



28
344


                    BENJAMIN JANN


M
HILLSBORO
OR
43:43
7:03
43:52



29
732


                    ANDREW HUNTER


M
BEAVERTON
OR
43:46
7:03
43:51



30
253


                    SAMANTHA BAGLEY


F
HILLSBORO
OR
43:46
7:03
43:53


                            INTEL TEAM K



31
674


                    TAYSEER MAHDI


F
HILLSBORO
OR
43:47
7:03
43:52



32
761


                    CHEN-GUAN LEE


M
PORTLAND
OR
43:47
7:03
43:52



33
560


                    LEONARDO PEREZ


M
HILLSBORO
OR
44:04
7:06
44:10



34
789


                    VASILIOS TSIRIMIAGOS


M
PORTLAND
OR
44:05
7:06
44:12


                            DTNA2



35
807


                    DAN CAMPBELL


M
HILLSBORO
OR
44:06
7:06
44:18



36
646


                    JANELLE M KLASER


F
PORTLAND
OR
44:07
7:06
44:17



37
740


                    YOSHIYASU YAMAKAWA


M
PORTLAND
OR
44:23
7:09
44:29



38
874


                    JONATHAN M MARTIN


M
PORTLAND
OR
44:38
7:12
45:09



39
361


                    RICHARD FLORES


M
PORTLAND
OR
44:41
7:12
45:10



40
710


                    DAVID W GAIBLER


M
PORTLAND
OR
44:42
7:12
44:46



41
791


                    ANDRE RAUCH


M
PORTLAND
OR
44:48
7:13
45:01


                            DTNA2



42
867


                    JOSHUA FEDDERLY


M
BEAVERTON
OR
45:03
7:15
45:46



43
142


                    TONDERAI NEMARUNDWE


M
BEAVERTON
OR
45:05
7:16
45:09



44
787


                    JONATHAN PARSONS


M
PORTLAND
OR
45:10
7:17
45:22


                            DTNA2



45
673


                    PIETER ROWLETTE


M
PORTLAND
OR
45:11
7:17
45:30



46
746


                    RAMON CALDERER


M
PORTLAND
OR
45:11
7:17
45:18



47
770


                    JONATHAN M HATFIELD


M
PORTLAND
OR
45:13
7:17
45:35



48
622


                    DAVID N GOLDSTEIN


M
BEAVERTON
OR
45:14
7:17
45:32



49
625


                    GREGORY M RUTTER


M
HILLSBORO
OR
45:15
7:17
45:26



50
635


                    STEFAN MEISTER


M
NOT SPECIFIED
OR
45:17
7:18
45:24



51
765


                    MATT TRAVERSO


M
HILLSBORO
OR
45:27
7:19
45:53



52
438


                    KEN W GILDERSLEEVE


M
PORTLAND
OR
45:28
7:20
45:34



53
582


                    ANDREW L HERTEL


M
HILLSBORO
OR
45:29
7:20
45:42


                            INTEL TEAM A



54
696


                    CHRISTOPHER L QUAM


M
PORTLAND
OR
45:36
7:21
46:31



55
580


                    SICELO MASANGO


M
HILLSBORO
OR
45:36
7:21
46:17



56
558


                    CHAD MUSZYNSKI


M
HILLSBORO
OR
45:40
7:22
45:59



57
47


                    FUMIE K WEIBY


F
PORTLAND
OR
45:40
7:22
46:02



58
303


                    AURELIEN T MOZIPO


M
BEAVERTON
OR
45:49
7:23
45:57



59
271


                    KYLE H AMBERT


M
TIGARD
OR
45:55
7:24
46:05


                            INTEL TEAM I



60
39


                    BRANDON LADICK


M
PORTLAND
OR
46:02
7:25
46:07



61
223


                    ADRIAN POP


M
WEST LINN
OR
46:13
7:27
46:16



62
671


                    AARON G JOHNSON


M
HILLSBORO
OR
46:20
7:28
46:39



63
574


                    MATTHEW BROWN


M
ALOHA
OR
46:23
7:28
46:28



64
349


                    EDMONDO MAZZULLI


M
HILLSBORO
OR
46:26
7:29
46:33


                            INTEL TEAM B



65
423


                    MILES F SCHWARTZ


M
PORTLAND
OR
46:33
7:30
46:58



66
783


                    LEO SOTO


M
PORTLAND
OR
46:35
7:30
48:01


                            FXG1



67
13


                    NICHOLAS FISCHER


M


46:41
7:31
47:02


                            COLUMBIA TEAM D



68
327


                    CHASE MCCLOSKEY


M
HILLSBORO
OR
46:42
7:32
46:53



69
67


                    INGA ANDREYEVA


F
PORTLAND
OR
46:45
7:32
46:57


                            DTNA1



70
283


                    THOR SEWELL


M
BEAVERTON
OR
46:46
7:32
47:06



71
153


                    TODD HARRIS


M
PORTLAND
OR
46:47
7:32
47:00



72
606


                    ABHIRAM MURALIDHAR


M
HILLSBORO
OR
46:49
7:33
47:49



73
841


                    JACK E LUBY


M
PORTLAND
OR
46:49
7:33
46:56



74
49


                    AURORE LARIVEN


F
PORTLAND
CA
46:52
7:33
47:09



75
704


                    RYAN MANIS


M
BEAVERTON
OR
46:55
7:34
48:54



76
393


                    LUCAS M JENISON


M
BEAVERTON
OR
46:56
7:34
47:32



77
858


                    RICHARD M STEGER


M
BEAVERTON
OR
47:00
7:34
47:21



78
536


                    GERMAN VILLALOBOS


M
HILLSBORO
OR
47:02
7:35
47:10



79
811


                    MICHAEL BEALE


M
HILLSBORO
OR
47:05
7:35
47:37



80
6


                    RANIER EVANS


M


47:05
7:35
47:13


                            COLUMBIA TEAM B



81
893


                    BRAD STEFANELLI


M
PORTLAND
OR
47:08
7:36
47:41



82
656


                    MALLORY TYLER


F
PORTLAND
OR
47:09
7:36
47:30



83
697


                    ANIRUDH MODI


M
PORTLAND
OR
47:27
7:39
48:28



84
256


                    BRAD CHADDICK


M
PORTLAND
OR
47:29
7:39
47:45



85
227


                    LYNNETTE NGUYEN


F
PORTLAND
OR
47:31
7:39
47:36



86
764


                    REBECCA JENSEN


F
HILLSBORO
OR
47:35
7:40
47:59



87
333


                    JIMMY E CASSIS


M
HILLSBORO
OR
47:42
7:41
47:55



88
17


                    BENJAMIN HODGDON


M


47:45
7:42
48:12


                            COLUMBIA TEAM D



89
230


                    JONATHAN THACH


M
HILLSBORO
OR
47:49
7:42
48:01



90
548


                    DOUGLAS GRESHAM


M
PORTLAND
OR
47:50
7:42
48:03



91
862


                    CARLOS M VIVAS


M
PORTLAND
OR
47:55
7:43
48:09



92
347


                    TEAL HAND


M
OTHER
OR
47:56
7:43
48:09


                            INTEL TEAM D



93
359


                    AI SSA CHAI


F
PORTLAND
OR
47:56
7:43
48:09



94
31


                    SHAHAR TSAMERET


F
PORTLAND
OR
47:58
7:44
48:06



95
715


                    SHAOPENG WANG


M
HILLSBORO
OR
47:59
7:44
49:03



96
323


                    CONNOR SMITH


M
HILLSBORO
OR
48:09
7:45
48:20



97
415


                    CHRISTOPHER MOZAK


M
PORTLAND
OR
48:13
7:46
48:27



98
435


                    TODD BAIRD


M
BEAVERTON
OR
48:18
7:47
49:06



99
541


                    WENDY HEUSSNER


F
PORTLAND
OR
48:18
7:47
48:56



100
538


                    ASSAF SHAIM


M
HILLSBORO
OR
48:20
7:47
48:40



101
62


                    MICHAEL E TURK


M
HILLSBORO
OR
48:21
7:48
48:58



102
852


                    CHRISTOPHER M ROMAN


M
HILLSBORO
OR
48:29
7:49
49:03



103
601


                    ILAN TSAMERET


M
PORTLAND
OR
48:30
7:49
48:38



104
820


                    TRAVIS FURRER


M
OTHER
OR
48:37
7:50
49:36



105
587


                    BRIAN WIESENAUER


M
PORTLAND
OR
48:38
7:50
48:54



106
591


                    ERIN F WIESENAUER


F
PORTLAND
OR
48:39
7:50
48:56


                            INTEL TEAM N



107
849


                    PAUL H HONEYMAN-COLVIN


M
PORTLAND
OR
48:40
7:51
49:14



108
458


                    SATOSHI SUZUKI


M
HILLSBORO
OR
48:42
7:51
49:12



109
728


                    JORGE MUNOZ


M
BEAVERTON
OR
48:43
7:51
49:15



110
572


                    JUN TAKEI


M
PORTLAND
OR
48:44
7:51
49:05


                            INTEL TEAM B



111
461


                    REAGAN LOPEZ


M
HILLSBORO
OR
48:49
7:52
48:53


                            INTEL TEAM A



112
880


                    STEVEN R CECH


M
PORTLAND
OR
48:56
7:53
49:54



113
126


                    BENJAMIN R PORTER


M
HILLSBORO
OR
49:03
7:54
49:22


                            INTEL TEAM D



114
339


                    BEN BORGSTEDE


M
HILLSBORO
OR
49:09
7:55
50:01



115
270


                    KISHOR KHARBAS


M
HILLSBORO
OR
49:12
7:56
49:37


                            INTEL TEAM E



116
752


                    TERENCE LEE


M
PORTLAND
OR
49:18
7:57
49:26



117
660


                    OCTAVIO RAMOS


M
PORTLAND
OR
49:23
7:57
49:29



118
255


                    MARK SAVOY


M
HILLSBORO
OR
49:26
7:58
49:43



119
373


                    TONY SALAZAR


M
BEAVERTON
OR
49:30
7:59
50:03



120
42


                    MEGAN M GOODSON


F
PORTLAND
OR
49:32
7:59
49:52


                            INTEL TEAM A



121
331


                    VIVEKANANTHAN SANJEEPAN


M
HILLSBORO
OR
49:35
7:59
50:33



122
550


                    TREY GUNNELL


M
SALT LAKE CITY
UT
49:42
8:01
49:57



123
298


                    BENJAMIN BRADEA


M
HILLSBORO
OR
49:44
8:01
49:45



124
449


                    RAHULDEVA GHOSH


M
PORTLAND
OR
49:44
8:01
50:04



125
676


                    TSUAN-CHUNG CHANG


M
PORTLAND
OR
49:51
8:02
50:50



126
855


                    RODNEY B STEWART


M
TIGARD
OR
49:54
8:03
50:34



127
683


                    MYRON LEE


M
BEAVERTON
OR
49:58
8:03
51:22



128
798


                    JEFF BENDER


M
BEAVERTON
OR
50:07
8:05
51:29



129
711


                    ADAM J SCHAFER


M
PORTLAND
OR
50:12
8:05
51:05



130
598


                    DRAGOS SEGHETE


M
PORTLAND
OR
50:15
8:06
51:29



131
16


                    JEN KELLER


F


50:18
8:06
50:45


                            COLUMBIA TEAM D



132
18


                    GREG LAWRENCE


M


50:19
8:07
50:45


                            COLUMBIA TEAM E



133
249


                    DUSTIN WILLIAMS


M
NOT SPECIFIED
OR
50:22
8:07
50:43



134
265


                    RICHARD DORRANCE


M
PORTLAND
OR
50:24
8:07
50:29



135
226


                    VINA HOANG


F
BEAVERTON
OR
50:26
8:08
50:39



136
790


                    AUSTIN WIPF


M
PORTLAND
OR
50:29
8:08
50:45


                            DTNA3



137
654


                    JEREMY GUTTMAN


M
PORTLAND
OR
50:36
8:09
51:01



138
167


                    TERRY C CUTLER


M
BEAVERTON
OR
50:38
8:10
51:27



139
355


                    STEPHEN P BRUSS


M
PORTLAND
OR
50:39
8:10
52:50



140
592


                    AVIV SHAI


M
PORTLAND
OR
50:40
8:10
50:57



141
260


                    AARON P LINDSEY


M
HILLSBORO
OR
50:41
8:10
51:17



142
263


                    TIM NGUYEN


M
BEAVERTON
OR
50:43
8:10
50:58



143
857


                    ALISON M FRIDAY


F
PORTLAND
OR
50:46
8:11
50:57



144
883


                    BRANDON PARSIANI


M
PORTLAND
OR
50:51
8:12
50:58



145
620


                    SANGHYUN SEO


M
PORTLAND
OR
51:00
8:13
51:41



146
738


                    CORY E WEBER


M
HILLSBORO
OR
51:02
8:14
51:25



147
372


                    SRINIDHI N KAUSHIK


M
BEAVERTON
OR
51:05
8:14
51:22



148
685


                    ERIC CHEN


M
PORTLAND
OR
51:06
8:14
52:06



149
383


                    KEALOHA OYER


M
HILLSBORO
OR
51:08
8:14
51:18



150
563


                    CAMERON R WAGNER


M
BEAVERTON
OR
51:08
8:14
51:15



151
261


                    JUSTON LI


M
OTHER
OR
51:10
8:15
51:44


                            INTEL TEAM D



152
161


                    JAIMIEY I SEARS


M
HILLSBORO
OR
51:12
8:15
51:28



153
799


                    MANOJ ATHAWALE


M
HILLSBORO
OR
51:18
8:16
52:19



154
277


                    MALLIKARJUNA CHILAKALA


M
HILLSBORO
OR
51:20
8:16
51:52


                            INTEL TEAM I



155
368


                    JAYADEV MUNIMALLAPPA


M
PORTLAND
OR
51:22
8:17
51:53



156
176


                    ANDREW WENDLANDT


M
HILLSBORO
OR
51:24
8:17
52:06



157
422


                    TRISTAN WOEHRLE


M
BEAVERTON
OR
51:34
8:19
51:41



158
276


                    PAUL HACK


M
PORTLAND
OR
51:35
8:19
52:14



159
595


                    JIANREN TAI


M
PORTLAND
OR
51:38
8:19
52:00



160
159


                    EUGENE LUHAVY


M
PORTLAND
OR
51:41
8:20
52:31



161
221


                    REET CHATTERJEE


M
BEAVERTON
OR
51:43
8:20
52:10



162
4


                    BHASKAR MANDALA


M


51:49
8:21
52:10


                            COLUMBIA TEAM A



163
757


                    JOSE MAURICIO MARULANDA


M
HILLSBORO
OR
51:52
8:21
52:10



164
571


                    MARC STEVENSON SO


M
BEAVERTON
OR
51:54
8:22
52:11



165
805


                    TRISTAN HANSON


M
FOREST GROVE
OR
52:15
8:25
52:45



166
398


                    DEREK R COLLIER


M
PORTLAND
OR
52:17
8:25
52:41



167
389


                    DANIEL P GARUBBA


M
HILLSBORO
OR
52:25
8:27
53:33



168
856


                    AARON J WOODS


M
ALOHA
OR
52:26
8:27
52:34



169
748


                    JAMES GREALISH


M
HILLSBORO
OR
52:34
8:28
53:18



170
627


                    LUCAS P BEVERLIN


M
HILLSBORO
OR
52:34
8:28
52:54



171
885


                    BRIAN HINTZMAN


M
PORTLAND
OR
52:35
8:29
52:42



172
542


                    JUSTINE BONNER


F
PORTLAND
OR
52:35
8:29
53:09



173
304


                    VANESSA R BRITT


F
PORTLAND
OR
52:36
8:29
53:01



174
709


                    RICHMOND B STURGILL


M
TIGARD
OR
52:38
8:29
52:55



175
9


                    BETH UNGER


F


52:38
8:29
53:08


                            COLUMBIA TEAM C



176
44


                    BINAY SINGH


M
HILLSBORO
OR
52:41
8:29
53:04



177
332


                    VASUDEV RUPANAGUNTLA


M
HILLSBORO
OR
52:43
8:30
52:51



178
584


                    CODY L COVEY


M
HILLSBORO
OR
52:47
8:30
52:52


                            INTEL TEAM F



179
21


                    VINOTHKUMAR RADHAKRISHNAN


M
PORTLAND
OR
52:48
8:31
53:02



180
337


                    DEEPAK RAJENDRAKUMARAN


M
HILLSBORO
OR
52:50
8:31
53:22



181
459


                    JOHN HAMILTON


M
PORTLAND
OR
52:55
8:32
53:24


                            INTEL TEAM K



182
444


                    VARUN K SETLUR


M
HILLSBORO
OR
52:55
8:32
53:51



183
211


                    NAHOM YEMANE


M
BEAVERTON
OR
52:58
8:32
53:30



184
55


                    ERNIE KHAW


M
HILLSBORO
OR
53:02
8:33
53:18



185
613


                    ANTON RODRIGUEZ-DMITRIEV


M
PORTLAND
OR
53:05
8:33
54:11



186
129


                    KARL H AMSPACHER


M
HILLSBORO
OR
53:06
8:34
53:44



187
599


                    XIAODONG1 YANG


M
PORTLAND
OR
53:09
8:34
54:11


                            INTEL TEAM J



188
652


                    CURTIS J HOFFMAN


M
ALOHA
OR
53:12
8:34
54:07



189
731


                    ROBERT HEUSSNER


M
PORTLAND
OR
53:16
8:35
53:54



190
767


                    ROBERT EHLERT


M
PORTLAND
OR
53:23
8:36
53:53



191
170


                    JAYCEE SLACK


F
BEAVERTON
OR
53:26
8:37
54:00



192
610


                    YATHIN PISSAY


M
HILLSBORO
OR
53:31
8:38
53:52



193
36


                    AJITHPRASADJAIN ADALAGEREJWALANNA


M
BEAVERTON
OR
53:32
8:38
53:52



194
707


                    CANDICE L YUCA


F
BEAVERTON
OR
53:33
8:38
54:04



195
763


                    THIERRY TAMBE


M
HILLSBORO
OR
53:37
8:38
54:15



196
817


                    ERIC GREGORY


M
PORTLAND
OR
53:44
8:40
54:45



197
881


                    MICHELLE G DINSMOOR


F
PORTLAND
OR
53:45
8:40
53:58



198
280


                    NIKHIL TALPALLIKAR


M
PORTLAND
OR
53:49
8:40
54:18


                            INTEL TEAM B



199
760


                    PAUL S MCCARTHY


M
HILLSBORO
OR
53:53
8:41
54:52



200
875


                    KRISTINA M HIERSCHE


F
BEAVERTON
OR
53:56
8:42
54:15



201
10


                    MIKE HIRT


M


53:58
8:42
54:23


                            COLUMBIA TEAM C



202
589


                    BUM SOO KIM


M
NOT SPECIFIED
OR
53:59
8:42
54:09



203
780


                    TONY GONZALEZ


M
PORTLAND
OR
53:59
8:42
54:55


                            FXG1



204
741


                    BLAKE ADKINS


M
PORTLAND
OR
54:05
8:43
55:11



205
69


                    KEATON WEISENBORN


M
PORTLAND
OR
54:09
8:44
54:25


                            DTNA1



206
70


                    MAISIE WEISENBORN


F
PORTLAND
OR
54:10
8:44
54:25


                            DTNA1



207
48


                    LOUISE R DUNNE


F
PORTLAND
OR
54:16
8:45
54:52



208
714


                    CLAYTON A BROWN


M
HILLSBORO
OR
54:17
8:45
55:04



209
851


                    HONG NHUNG T TRAN


F
BEAVERTON
OR
54:17
8:45
55:06



210
586


                    JOHN S SUMMERS


M
PORTLAND
OR
54:20
8:45
55:41



211
289


                    HAREESH KHATTRI


M
NOT SPECIFIED
OR
54:21
8:45
54:55



212
664


                    ABHISHEK JAIN


M
HILLSBORO
OR
54:29
8:47
55:29



213
386



Next, we can use the find_all() method of soup to extract useful html tags within a webpage. Examples of useful tags include < a > for hyperlinks, < table > for tables, < tr > for table rows, < th > for table headers, and < td > for table cells. The code below shows how to extract all the hyperlinks within the webpage.

In [37]:
soup.find_all('a')

[<a href="mailto:timing@hubertiming.com">timing@hubertiming.com</a>,
 <a href="https://www.hubertiming.com/">Huber Timing Home</a>,
 <a class="btn btn-primary btn-lg" href="/results/2017GPTR#individual" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-user"></i> 5K Individual</a>,
 <a class="btn btn-primary btn-lg" href="/results/team/2017GPTR" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-users"></i> 5K Team</a>,
 <a class="btn btn-primary btn-lg" href="/results/team/2017GPTR10K" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-users"></i> 10K Team</a>,
 <a class="btn btn-primary btn-lg" href="/results/summary/2017GPTR10K" role="button" style="margin: 0px 0px 5px 5px"><i class="fa fa-stream"></i> Summary</a>,
 <a id="individual" name="individual"></a>,
 <a data-url="/results/2017GPTR10K" href="#tabs-1" id="rootTab" style="font-size: 18px">10K Results</a>,
 <a href="https://www.hubertiming.com/"><img height="65" src="https://www.hubertiming.com//sites/all/themes/hubertiming/images/clockWithFinishSign_small.png" width="50"/>Huber Timing</a>,
 <a href="https://facebook.com/hubertiming/"><img src="https://www.hubertiming.com/results/FB-f-Logo__blue_50.png"/></a>,
 <a class="small" id="bestFeatureEver" style="color:#007bff">Dark Mode</a>]

As we can see from the output above, html tags sometimes come with attributes such as class, src, etc. These attributes provide additional information about html elements. We can use a for loop and the get('"href") method to extract and print out only hyperlinks.

In [38]:
all_links = soup.find_all("a")
for link in all_links:
    print(link.get("href"))

mailto:timing@hubertiming.com
https://www.hubertiming.com/
/results/2017GPTR#individual
/results/team/2017GPTR
/results/team/2017GPTR10K
/results/summary/2017GPTR10K
None
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/
None

To print out table rows only, we pass the 'tr' argument in soup.find_all().

In [39]:
# Print the first 10 rows for sanity check
rows = soup.find_all('tr')
print(rows[:10])

[<tr colspan="2">
<b>10K:</b>
</tr>, <tr>
<td>Finishers:</td>
<td>577</td>
</tr>, <tr>
<td>Male:</td>
<td>414</td>
</tr>, <tr>
<td>Female:</td>
<td>163</td>
</tr>, <tr class="header">
<th>Place</th>
<th>Bib</th>
<th>Name</th>
<th>Gender</th>
<th>City</th>
<th>State</th>
<th>Chip Time</th>
<th>Chip Pace</th>
<th>Gun Time</th>
<th>Team</th>
</tr>, <tr data-bib="814">
<td>1</td>
<td>814</td>
<td>

                    JARED WILSON

                </td>
<td>M</td>
<td>TIGARD</td>
<td>OR</td>
<td>36:21</td>
<td>5:51</td>
<td>36:24</td>
<td></td>
</tr>, <tr data-bib="573">
<td>2</td>
<td>573</td>
<td>

                    NATHAN A SUSTERSIC

                </td>
<td>M</td>
<td>PORTLAND</td>
<td>OR</td>
<td>36:42</td>
<td>5:55</td>
<td>36:45</td>
<td>
<img class="lazy teamThumbs" data-src="/teamLogoThumbnail/logo?teamName=INTEL%20TEAM%20F&amp;raceId=1251&amp;state=OR"/>
                            INTEL TEAM F
                        </td>
</tr>, <tr data-bib="687">
<td>3</td>
<td>687</td>
<td>

                    FRANCISCO MAYA

                </td>
<td>M</td>
<td>PORTLAND</td>
<td>OR</td>
<td>37:44</td>
<td>6:05</td>
<td>37:48</td>
<td></td>
</tr>, <tr data-bib="623">
<td>4</td>
<td>623</td>
<td>

                    PAUL MORROW

                </td>
<td>M</td>
<td>BEAVERTON</td>
<td>OR</td>
<td>38:34</td>
<td>6:13</td>
<td>38:37</td>
<td></td>
</tr>, <tr data-bib="569">
<td>5</td>
<td>569</td>
<td>

                    DEREK G OSBORNE

                </td>
<td>M</td>
<td>HILLSBORO</td>
<td>OR</td>
<td>39:21</td>
<td>6:20</td>
<td>39:24</td>
<td>
<img class="lazy teamThumbs" data-src="/teamLogoThumbnail/logo?teamName=INTEL%20TEAM%20F&amp;raceId=1251&amp;state=OR"/>
                            INTEL TEAM F
                        </td>
</tr>]

Our next goal is take a table from a webpage, and convert it into a dataframe for easier manipulation using Python. To get there, we need to get all table rows in list form first, and then convert that list into a dataframe. Below is a for loop that iterates through table rows, and prints out the cells of the rows.

In [40]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td>577</td>, <td>443</td>, <td>

                    LIBBY B MITCHELL

                </td>, <td>F</td>, <td>HILLSBORO</td>, <td>OR</td>, <td>1:41:18</td>, <td>16:20</td>, <td>1:42:10</td>, <td></td>]

bs4.element.ResultSet

The output above shows that each row is printed with html tags embedded in each row. This is not what we want. We can use remove the html tags using Beautiful Soup or regular expressions.
The easiest way to remove html tags is to use Beautiful Soup, and it takes just one line of code to do this. We pass the string of interest into BeautifulSoup(), and use the get_text() method to extract the text without html tags.

In [41]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[577, 443,

                    LIBBY B MITCHELL

                , F, HILLSBORO, OR, 1:41:18, 16:20, 1:42:10, ]

Our next step is to convert the list into a dataframe, and get a quick view of the first 10 rows using Pandas.

In [42]:
import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

df = pd.DataFrame(list_rows)
df.head(10)

[577, 443,

                    LIBBY B MITCHELL

                , F, HILLSBORO, OR, 1:41:18, 16:20, 1:42:10, ]

                                                   0
0                                                 []
1                                  [Finishers:, 577]
2                                       [Male:, 414]
3                                     [Female:, 163]
4                                                 []
5  [1, 814, \r\n\r\n                    JARED WIL...
6  [2, 573, \r\n\r\n                    NATHAN A ...
7  [3, 687, \r\n\r\n                    FRANCISCO...
8  [4, 623, \r\n\r\n                    PAUL MORR...
9  [5, 569, \r\n\r\n                    DEREK G O...

The dataframe is not in the format we want. To clean it up, we need to split the "0" column into multiple columns at the comma position. This is accomplished by using the str.split() method.

In [43]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9
0,[],None,None,None,None,None,None,None,None,None
1,[Finishers:,577],None,None,None,None,None,None,None,None
2,[Male:,414],None,None,None,None,None,None,None,None
3,[Female:,163],None,None,None,None,None,None,None,None
4,[],None,None,None,None,None,None,None,None,None
5,[1,814,\r\n\r\n JARED WILSON\r\n\...,M,TIGARD,OR,36:21,5:51,36:24,]
6,[2,573,\r\n\r\n NATHAN A SUSTERSI...,M,PORTLAND,OR,36:42,5:55,36:45,\n\r\n INTEL TEAM ...
7,[3,687,\r\n\r\n FRANCISCO MAYA\r\...,M,PORTLAND,OR,37:44,6:05,37:48,]
8,[4,623,\r\n\r\n PAUL MORROW\r\n\r...,M,BEAVERTON,OR,38:34,6:13,38:37,]
9,[5,569,\r\n\r\n DEREK G OSBORNE\r...,M,HILLSBORO,OR,39:21,6:20,39:24,\n\r\n INTEL TEAM ...

Looking at the result, we notice that the dataframe has unwanted square brackets surrounding each row. We can use the strip() method to remove the opening square bracket on column "0."

In [44]:
df1[0] = df1[0].str.strip('[')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9
0,],None,None,None,None,None,None,None,None,None
1,Finishers:,577],None,None,None,None,None,None,None,None
2,Male:,414],None,None,None,None,None,None,None,None
3,Female:,163],None,None,None,None,None,None,None,None
4,],None,None,None,None,None,None,None,None,None
5,1,814,\r\n\r\n JARED WILSON\r\n\...,M,TIGARD,OR,36:21,5:51,36:24,]
6,2,573,\r\n\r\n NATHAN A SUSTERSI...,M,PORTLAND,OR,36:42,5:55,36:45,\n\r\n INTEL TEAM ...
7,3,687,\r\n\r\n FRANCISCO MAYA\r\...,M,PORTLAND,OR,37:44,6:05,37:48,]
8,4,623,\r\n\r\n PAUL MORROW\r\n\r...,M,BEAVERTON,OR,38:34,6:13,38:37,]
9,5,569,\r\n\r\n DEREK G OSBORNE\r...,M,HILLSBORO,OR,39:21,6:20,39:24,\n\r\n INTEL TEAM ...

The table is missing table headers. We can use the find_all() method to get the table headers.

In [45]:
col_labels = soup.find_all('th')

Similar to table rows, we can use Beautiful Soup to extract text in between html tags for table headers:

In [46]:
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

['[Place, Bib, Name, Gender, City, State, Chip Time, Chip Pace, Gun Time, Team]']

We can now convert the list of headers into a pandas dataframe.

In [47]:
df2 = pd.DataFrame(all_header)
df2.head()

                                                   0
0  [Place, Bib, Name, Gender, City, State, Chip T...

Similarly, we can split column "0" into multiple columns at the comma position for all rows.

In [49]:
df3 = df2[0].str.split(',', expand=True)
df3.head()

,0,1,2,3,4,5,6,7,8,9
0,[Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team]

The two dataframes can be concatenated into one using the concat() method:

In [50]:
frames = [df3, df1]

df4 = pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8,9
0,[Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team]
0,],None,None,None,None,None,None,None,None,None
1,Finishers:,577],None,None,None,None,None,None,None,None
2,Male:,414],None,None,None,None,None,None,None,None
3,Female:,163],None,None,None,None,None,None,None,None
4,],None,None,None,None,None,None,None,None,None
5,1,814,\r\n\r\n JARED WILSON\r\n\...,M,TIGARD,OR,36:21,5:51,36:24,]
6,2,573,\r\n\r\n NATHAN A SUSTERSI...,M,PORTLAND,OR,36:42,5:55,36:45,\n\r\n INTEL TEAM ...
7,3,687,\r\n\r\n FRANCISCO MAYA\r\...,M,PORTLAND,OR,37:44,6:05,37:48,]
8,4,623,\r\n\r\n PAUL MORROW\r\n\r...,M,BEAVERTON,OR,38:34,6:13,38:37,]

We can assign the first row to be the table header.

In [51]:
df5 = df4.rename(columns=df4.iloc[0])
df5.head()

,[Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team]
0,[Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team]
0,],None,None,None,None,None,None,None,None,None
1,Finishers:,577],None,None,None,None,None,None,None,None
2,Male:,414],None,None,None,None,None,None,None,None
3,Female:,163],None,None,None,None,None,None,None,None

Next, notice how the table header is replicated as the first row in df5. It can be dropped using the following line of code.

In [52]:
df6 = df5.drop(df5.index[0])
df6.head()

,[Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team]
1,Finishers:,577],None,None,None,None,None,None,None,None
2,Male:,414],None,None,None,None,None,None,None,None
3,Female:,163],None,None,None,None,None,None,None,None
4,],None,None,None,None,None,None,None,None,None
5,1,814,\r\n\r\n JARED WILSON\r\n\...,M,TIGARD,OR,36:21,5:51,36:24,]

In [53]:
df6.info()
df6.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 581 entries, 1 to 581
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   [Place      581 non-null    object
 1    Bib        580 non-null    object
 2    Name       577 non-null    object
 3    Gender     577 non-null    object
 4    City       577 non-null    object
 5    State      577 non-null    object
 6    Chip Time  577 non-null    object
 7    Chip Pace  577 non-null    object
 8    Gun Time   577 non-null    object
 9    Team]      577 non-null    object
dtypes: object(10)
memory usage: 49.9+ KB

(581, 10)

We can perform more data cleaning by renaming the '[Place' and ' Team]' columns.

In [54]:
df6.rename(columns={'[Place': 'Place'},inplace=True)
df6.rename(columns={' Team]': 'Team'},inplace=True)
df6.head()

/home/nwe/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team
1,Finishers:,577],None,None,None,None,None,None,None,None
2,Male:,414],None,None,None,None,None,None,None,None
3,Female:,163],None,None,None,None,None,None,None,None
4,],None,None,None,None,None,None,None,None,None
5,1,814,\r\n\r\n JARED WILSON\r\n\...,M,TIGARD,OR,36:21,5:51,36:24,]

The final data cleaning step involves removing the closing bracket for cells in the "Team" column.

In [55]:
df6['Team'] = df6['Team'].str.strip(']')
df6.head()

<ipython-input-55-b0f9ab028e7b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['Team'] = df6['Team'].str.strip(']')

,Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team
1,Finishers:,577],None,None,None,None,None,None,None,None
2,Male:,414],None,None,None,None,None,None,None,None
3,Female:,163],None,None,None,None,None,None,None,None
4,],None,None,None,None,None,None,None,None,None
5,1,814,\r\n\r\n JARED WILSON\r\n\...,M,TIGARD,OR,36:21,5:51,36:24,

Following similar steps, we can now scrape the data about the number of Olympic medals by country, available here: https://worldpopulationreview.com/country-rankings/olympic-medals-by-country

In [31]:
url = "https://worldpopulationreview.com/country-rankings/olympic-medals-by-country"
html = urlopen(url)

In [32]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [56]:
rows = soup.find_all('tr')
print(rows[:10])

[<tr class="jsx-2642336383"><th class="jsx-2816426159" width="auto"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="country" style="color: black; cursor: pointer; display: inline-block;">Country  </a></span></th><th class="jsx-2816426159" width="auto"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="goldOlympicMedals" style="color: black; cursor: pointer; display: inline-block;">Gold  </a></span></th><th class="jsx-2816426159" width="auto"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="silverOlympicMedals" style="color: black; cursor: pointer; display: inline-block;">Silver  </a></span></th><th class="jsx-2816426159" width="auto"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="bronzeOlympicMedials" style="color: black; cursor: pointer; display: inline-block;">Bronze  </a></span></th><th class="jsx-2816426159" width="auto"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="totalOlympicMedals" style="color: black; cursor: pointer; display: inline-block;">Total Olympic Medals <svg fill="currentColor" height="1em" stroke="currentColor" stroke-width="0" viewbox="0 0 320 512" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg> </a></span></th><th class="jsx-2816426159" width="auto"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="pop2021" style="color: black; cursor: pointer; display: inline-block; padding-right: 12px;">2021 Population  </a></span></th></tr>, <tr><td><a href="/countries/united-states-population">United States</a></td><td>1127</td><td>907</td><td>793</td><td>2827</td><td>332,915,073</td></tr>, <tr><td><a href="/countries/united-kingdom-population">United Kingdom</a></td><td>274</td><td>299</td><td>310</td><td>883</td><td>68,207,116</td></tr>, <tr><td><a href="/countries/germany-population">Germany</a></td><td>283</td><td>282</td><td>290</td><td>855</td><td>83,900,473</td></tr>, <tr><td><a href="/countries/france-population">France</a></td><td>248</td><td>276</td><td>316</td><td>840</td><td>65,426,179</td></tr>, <tr><td><a href="/countries/italy-population">Italy</a></td><td>246</td><td>214</td><td>241</td><td>701</td><td>60,367,477</td></tr>, <tr><td><a href="/countries/sweden-population">Sweden</a></td><td>202</td><td>216</td><td>234</td><td>652</td><td>10,160,169</td></tr>, <tr><td><a href="/countries/china-population">China</a></td><td>237</td><td>195</td><td>176</td><td>608</td><td>1,444,216,107</td></tr>, <tr><td><a href="/countries/russia-population">Russia</a></td><td>195</td><td>163</td><td>188</td><td>546</td><td>145,912,025</td></tr>, <tr><td><a href="/countries/norway-population">Norway</a></td><td>188</td><td>174</td><td>158</td><td>520</td><td>5,465,630</td></tr>]

In [57]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td><a href="/countries/sudan-population">Sudan</a></td>, <td>0</td>, <td>1</td>, <td>0</td>, <td>1</td>, <td>44,909,353</td>]

bs4.element.ResultSet

In [58]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[Sudan, 0, 1, 0, 1, 44,909,353]

In [59]:
import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

df = pd.DataFrame(list_rows)
df.head(10)

[Sudan, 0, 1, 0, 1, 44,909,353]

                                                   0
0                                                 []
1  [United States, 1127, 907, 793, 2827, 332,915,...
2   [United Kingdom, 274, 299, 310, 883, 68,207,116]
3          [Germany, 283, 282, 290, 855, 83,900,473]
4           [France, 248, 276, 316, 840, 65,426,179]
5            [Italy, 246, 214, 241, 701, 60,367,477]
6           [Sweden, 202, 216, 234, 652, 10,160,169]
7         [China, 237, 195, 176, 608, 1,444,216,107]
8          [Russia, 195, 163, 188, 546, 145,912,025]
9            [Norway, 188, 174, 158, 520, 5,465,630]

In [60]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

                 0      1     2     3      4     5     6     7     8
0               []   None  None  None   None  None  None  None  None
1   [United States   1127   907   793   2827   332   915  073]  None
2  [United Kingdom    274   299   310    883    68   207  116]  None
3         [Germany    283   282   290    855    83   900  473]  None
4          [France    248   276   316    840    65   426  179]  None
5           [Italy    246   214   241    701    60   367  477]  None
6          [Sweden    202   216   234    652    10   160  169]  None
7           [China    237   195   176    608     1   444   216  107]
8          [Russia    195   163   188    546   145   912  025]  None
9          [Norway    188   174   158    520     5   465  630]  None

In [61]:
df1[0] = df1[0].str.strip('[')
df1.head(10)

                0      1     2     3      4     5     6     7     8
0               ]   None  None  None   None  None  None  None  None
1   United States   1127   907   793   2827   332   915  073]  None
2  United Kingdom    274   299   310    883    68   207  116]  None
3         Germany    283   282   290    855    83   900  473]  None
4          France    248   276   316    840    65   426  179]  None
5           Italy    246   214   241    701    60   367  477]  None
6          Sweden    202   216   234    652    10   160  169]  None
7           China    237   195   176    608     1   444   216  107]
8          Russia    195   163   188    546   145   912  025]  None
9          Norway    188   174   158    520     5   465  630]  None

In [63]:
col_labels = soup.find_all('th')

In [64]:
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

['[Country  , Gold  , Silver  , Bronze  , Total Olympic Medals  , 2021 Population  ]']

In [65]:
df2 = pd.DataFrame(all_header)
df2.head()

                                                   0
0  [Country  , Gold  , Silver  , Bronze  , Total ...

In [66]:
df3 = df2[0].str.split(',', expand=True)
df3.head()

,0,1,2,3,4,5
0,[Country,Gold,Silver,Bronze,Total Olympic Medals,2021 Population ]

In [76]:
frames = [df3, df1]

df4 = pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8
0,[Country,Gold,Silver,Bronze,Total Olympic Medals,2021 Population ],NaN,NaN,NaN
0,],None,None,None,None,None,None,None,None
1,United States,1127,907,793,2827,332,915,073],None
2,United Kingdom,274,299,310,883,68,207,116],None
3,Germany,283,282,290,855,83,900,473],None
4,France,248,276,316,840,65,426,179],None
5,Italy,246,214,241,701,60,367,477],None
6,Sweden,202,216,234,652,10,160,169],None
7,China,237,195,176,608,1,444,216,107]
8,Russia,195,163,188,546,145,912,025],None

Your task:
    
    Choose a data source of your choice (Wikipedia is a good choice), and scrape and clean the data from it, following the steps similar to those outlined above.
    
    Your goal is to produce a data set consisting of at least 100 data points (rows), and with at least three features (columns). Your will want to:
    - Represent your data set in a cleaned up data frame format
    - In a paragraph or two, describe your data set.